/*
Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
SPDX-License-Identifier: Apache-2.0
*/
#back-button {
  margin-top: 20px;
}

.flex-parent {
  display: flex;
}

.flex-child {
  padding: 10px;
  width: 50%;
}
